.full-width {
    width: 100vw;
  }
.snackBar{
  color: greenyellow;
}
.black{
  background-color: rgb(255, 255, 255) !important;
}
.open-button{
  color:#000!important;
}
.logo{
  border: 1px solid #000;
  font-weight: 700;
}